*.iml
.idea/
.DS_Store
Thumbs.db
.gradle/
local.properties
build/
app/build/
outputs/
captures/
.externalNativeBuild/
.cxx/
*.log
*.cache
*.swp
*.tmp
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.profiler/
/androidTest/

